
body {
    background-color: cornsilk;
}

h5 {
    padding: 1% 3%;
    color: grey;
}

hr {
    padding: 0;
    margin: 0;
}


/* Navigation bar */


#navbar {
    background-color: indigo;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    padding-left: 25px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: "Montserrat-light";
}


/* Submission */


.qa {
    margin: 40px;
}


/* Footer */


#footer {
    background-color: indigo;
    text-align: center;
    color: white;
    padding: 25px;
}

.ft {
    padding: 0;
    margin: 0;
    color: #dfeeea;
    font-size: 0.8rem;
}